/* Apply a border-spacing property for space between cells */
table {
    border-collapse:separate;
    width: 500px;
    height: 500px;
    border: 10px solid #ccc;
    margin: 0 auto;
    margin-top:0;
    margin-bottom:0;
  }
  
  /* Style table headers */
  td {
    border: 1px solid #ddd;
    padding:0;
    box-sizing:border-box;
    width: auto;
    height: auto;

  }

  .tableDiv {
    text-align: center;
  }
